{{#with model}}
<div id="title-container">
    <h1>
        {{title}}
    </h1>
</div>
<hr />
<main>
    <form id="note-input" method="post">
        <input type="tegetxt" name="note" placeholder="Enter a new note here!" />
        <button type="submit">Save</button>
    </form>
    <section>
        {{#each notes}}
        <div class="oneNoteLine">
            <span>{{this}}</span>
            <div class="oneNoteLineButtons">
                <button>Edit</button>
                <button>Delete</button>
            </div>
        </div>
        {{/each}}
    </section>
</main>
{{/with}}