* {
    background-color: wheat;
}

#note-input {
    display: flex;
}

#note-input input {
    padding: 6px;
    width: 50%;
}

.oneNoteLine {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.oneNoteLineButtons button {
    border-radius: 5px;
}

.note-text[contentEditable="true"] {
    color: green;
}

.hidden {
    display: none;
}

.oneNoteLine.style-1 {
    /*Raudonas*/

    color: #253535;
    box-shadow: #d88 0 0 11px 12px;
}

.oneNoteLine.style-1 .note-priority {
    color: #253535;
}

.oneNoteLine.style-2 {
    /*geltonas*/

    color: #253535;
    box-shadow: #bb8 0 0 11px 12px;
}

.oneNoteLine.style-3 {
    /*zalias*/

    color: #253535;
    box-shadow: #d88 0 0 11px 12px;
}

.oneNoteLine.style-3 .note-priority {
    color: #253535;
}