* {
    background-color: wheat;
}

#note-input {
    display: flex;
}

#note-input input {
    padding: 6px;
    width: 50%;
}

.oneNoteLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.oneNoteLineButtons button {
    border-radius: 5px;
}
